extends layout

block content
  h3 회원가입
  fieldset
    legend 회원정보 입력
    li 이메일
    input#join_email(type="text")
    li 패스워드
    input#join_password(type="password")
    li 닉네임
    input#join_nick(type="text")
    button#join_btn 회원가입